@import "colors";

.hover-blue-dark {
  background-color: $blue-dark-hover;
  cursor: pointer;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-twit-button {
  background-color: $blue-light;
  color: $white;
  font-weight: bold;
  border-radius: 624.938rem;

  &:hover {
    background-color: $blue-light-hover;
  }
}
