<div class="side-nav">
  <section id="section-twiiter-options">
    <button class="side-nav__home" type="button">
      <img alt="twitter-icon" src="assets/images/svg/twitter-icon.svg">
    </button>
    <ul class="side-nav__list">
      <li>
        <img alt="home-icon" src="assets/images/svg/home-icon.svg">
        Inicio
      </li>
      <li>
        <img alt="hash-tag-icon" src="assets/images/svg/hash-tag-icon.svg">
        Explorar
      </li>
      <li>
        <img alt="bell-icon" src="assets/images/svg/bell-icon.svg">
        Notificaciones
      </li>
      <li>
        <img alt="message-icon" src="assets/images/svg/message-icon.svg">
        Mensajes
      </li>
      <li>
        <img alt="bookmark-icon" src="assets/images/svg/bookmark-icon.svg">
        Guardados
      </li>
      <li>
        <img alt="list-icon" src="assets/images/svg/list-icon.svg">
        Listas
      </li>
      <li>
        <img alt="user-icon" src="assets/images/svg/user-icon.svg">
        Perfil
      </li>
      <li>
        <img alt="options-icon" src="assets/images/svg/options-icon.svg">
        Más opciones
      </li>
    </ul>
    <button class="side-nav__new-twit">
      Twittear
    </button>
  </section>
  <section class="side-nav__user-information" id="section-user-information">
    <img alt="francisco-photo" src="assets/images/jpg/francisco-photo.jpg">
    <div class="username-container">
      <span>Francisco Zambrano</span>
      <span>@ZSFrancisco</span>
    </div>
  </section>
</div>
