@import "src/assets/scss";

:host {
  width: 80%;
  padding: 1rem 0;
  border-radius: 1.25rem;
  background-color: $blue-dark-hover;
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
  color: $white;
}

h3{
  margin: 0;
  padding: 0 1rem;
}
